@using Microsoft.AspNetCore.Identity;
@using VotingApp.Data;
@inject UserManager<Member> _userManager;
@inject SignInManager<Member> _signInManager;
@inject ApplicationDbContext _context;

@{
    // get list of categories
    var category = _context.Category.ToList();
}

<div class="ADD-IDEA-FORM mt-sm-0 mt-lg-8 sticky-top card  text-center rounded-5 border-0 shadow py-3" style="top: 40px">
    @{
        if (!_signInManager.IsSignedIn(User))
        {
            <div class="card-body row">
                <h5 class="card-title mb-3">Add an idea</h5>
                <p class="card-text pb-3">Please login to create an idea.</p>
                    <div class="my-4">
                        <a class="blue-button border-0 text-white rounded-5 text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                    <div class="my-2">
                        <a class="grey-button border-0 rounded-5 text-decoration-none text-black" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                    </div>
              </div>
        }
        else
        {
            <div class="card-body">
                <h5 class="card-title mb-3">Add an idea</h5>
                <p class="card-text mb-3">Let us know what you would like and we'll take a look over!</p>
                <form asp-action="create" asp-controller="ideas">
                    <div class="mb-3">
                        <input type="hidden" name="MemberId" value="@_userManager.GetUserId(User)" />
                        <input type="text" name="Title" class="form-control-idea bg-gray-100 border-0" placeholder="Your Idea" required>
                    </div>
                    <div class="mb-3">
                        <select name="CategoryId" class="form-select bg-gray-100 border-0 text-secondary" aria-label=".form-select-sm example" required>
                            <option selected disabled value="">Choose a Category</option>
                            @{
                                //display list of categories
                                foreach (var catName in category)
                                {
                                    <option value="@catName.Id">@catName.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="mb-4">
                        <textarea name="Description" class="form-control-idea bg-gray-100 border-0" rows="3" placeholder="Describe your idea" required></textarea>
                    </div>
                    <div class="d-flex">
                        <div class="col">
                            <button class="grey-button border-0 rounded-5">Attach</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="blue-button border-0 text-white rounded-5" id="submitButton">Submit</button>
                        </div>
                    </div>
                </form>
            </div>            
        }
    }

</div>



