@{
    // If Available, Display Message Banner(passed from result of controller)
    var displayMessage = "";
    if (TempData.ContainsKey("DisplayMessage"))
    {
        displayMessage = TempData["DisplayMessage"].ToString();
    }

    if (displayMessage != "")
    {
        string displayMessageClass;
        if (displayMessage.Contains("Error") || displayMessage.Contains("removed") || displayMessage.Contains("reported")) { displayMessageClass = "danger"; } else { displayMessageClass = "info"; }

        <div class="alert alert-@displayMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            @displayMessage
        </div>
    }
}  


