@using Microsoft.AspNetCore.Http.Extensions
@{
    string getStatus = Context.Request.GetDisplayUrl().ToLower();
    string displayNone = "display: none";
    string col9 = "col-lg-9";
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UpVote</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VotingApp.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&Montserrat:wght@900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 mt-2" style="@if(getStatus.Contains("register") || getStatus.Contains("login")) {
        @displayNone
 }">
            <div class="container-fluid mx-5 text-info">
                <a class="navbar-brand logo-text text-info"  href="~/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                    </svg>
                <span class="text-black-50">UP</span>VOTE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-lg-3" style="@if(getStatus.Contains("register") || getStatus.Contains("login")) { @displayNone }">
                    <!-- Add Idea Form START-->
                    <partial name="_AddForm" />
                    <!-- Add Idea Form END-->
                </div>
                <div class="@if(getStatus.Contains("register") || getStatus.Contains("login")) { } else { @col9 }">
                        <partial name ="_NavCurrentStatus" />                    
                    <div class="mt-5">
            @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span>
            &copy; 2022 - UPVOTE
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
