@using VotingApp.Data;
@inject ApplicationDbContext _context;
@using Microsoft.AspNetCore.Http.Extensions

@{
    // get total Count of each status
    var totalCount = _context.Idea.ToList().Count();
    var consideringCount = _context.Idea.Where(i => i.CurrentStatus == "considering").ToList().Count();
    var inProgressCount = _context.Idea.Where(i => i.CurrentStatus == "in-progress").ToList().Count();
    var implementedCount = _context.Idea.Where(i => i.CurrentStatus == "implemented").ToList().Count();
    var closedCount = _context.Idea.Where(i => i.CurrentStatus == "closed").ToList().Count();

    // get current page url and conver to lowercase
    string getPageUrl = Context.Request.GetDisplayUrl().ToLower();

    string borderPrimary = "border-primary text-dark";
    string displayNone = "d-xl-none";
}

<nav class="d-none d-md-none d-lg-none d-xl-block d-xl-flex align-items-center justify-content-between small opacity-75 
@if(getPageUrl.Contains("register") || getPageUrl.Contains("login") || getPageUrl.Contains("forgotpassword")) 
    {
        // hides status filters if the current page is one that is listed above
        @displayNone
    }">
@{
    // apply bottom blue borders if current page contains the corresponding strings
}
    <ul class="d-flex list-unstyled text-uppercase fw-bold border-5 border-bottom pb-3" style="letter-spacing:3px">
        <li>
            <a href="~/ideas/?s=all" class="@if(getPageUrl.Contains("all")) {
            @borderPrimary
 } text-decoration-none top-links border-bottom border-5 pb-3">all ideas (@totalCount)</a></li>
        <li>
            <a href="~/ideas/?s=considering" class="@if(getPageUrl.Contains("considering")) {
            @borderPrimary
 } text-decoration-none top-links border-bottom border-5 pb-3">Considering (@consideringCount)</a></li>
        <li>
            <a href="~/ideas/?s=in-progress" class="@if(getPageUrl.Contains("in-progress")) {
            @borderPrimary
 } text-decoration-none top-links border-bottom border-5 pb-3">In Progress (@inProgressCount)</a></li>
    </ul>
    <ul class="d-flex list-unstyled text-uppercase fw-bold border-5 border-bottom pb-3" style="letter-spacing:3px">
        <li>
            <a href="~/ideas/?s=implemented" class="@if(getPageUrl.Contains("implemented")) {
            @borderPrimary
 } text-decoration-none top-links border-bottom border-5 pb-3">implemented (@implementedCount)</a></li>
        <li>
            <a href="~/ideas/?s=closed" class="@if(getPageUrl.Contains("closed")) {
            @borderPrimary
 } text-decoration-none top-links border-bottom border-5 pb-3">closed (@closedCount)</a></li>
    </ul>
</nav>
