<!-- Breadcrumbs START-->
<div class="d-flex align-items-center fw-bold text-black mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left me-2" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
</svg>
    <a href="" class="fw-bold text-decoration-none text-black">All Ideas</a>
</div>
<!-- Breadcrumbs END-->

<!-- Card START -->
<div class="card-single mb-3 border-0 rounded-5 shadow-sm">
    <div class="row g-0">
        <div class="AVATAR-IMAGE col-md-1 p-3 ms-2">
            <img src="https://source.unsplash.com/200x200/?face&crop=face&v1" alt="avatar" class="avatar rounded-3" />
        </div>
        <div class="CARD-DETAILS col ms-1">
            <div class="card-body mb-3">
                <h5 class="card-title">Yang Guo was the strongest</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="d-flex bd-highlight mb-3">
                <div class="TIMESTAMP ps-3 bd-highlight text-secondary fw-bold">Kyro Phal</div>
                <div class="TIMESTAMP px-3 bd-highlight text-secondary opacity-50">10 hours ago</div>
                <div class="CATEGORY-NAME px-3 bd-highlight text-secondary opacity-50">Category 1</div>
                <div class="COMMENT-COUNT bd-highlight text-dark">3 Comments</div>
                <div class="TICKET-STATUS ms-auto bd-highlight pe-2"><button class="status-button border-0 rounded-5">Open</button></div>
                <div class="bd-highlight pe-3 dropdown">
                    <button class="status-button border-0 rounded-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Mark as Spam</a></li>
                        <li><a class="dropdown-item" href="#">Delete Post</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card END -->

<!-- Buttons START-->
<div class="d-flex bd-highlight mb-3">
    <div class="REPLY-BUTTON bd-highlight dropdown"><button class="blue-button text-white border-0 rounded-5 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reply
        </button>
        <ul class="dropdown-menu border-0 rounded-5 shadow-sm mt-1">
            <li style="width:500px" class="border-0">
                <div class="modal-body rounded-5 mb-0">
                    <form>
                        <div class="mb-0">
                            <textarea class="form-control-idea border-0 bg-gray-100" rows="4" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="d-flex border-0 ms-3 mb-3 mt-2">
                    <button type="button" class="blue-button border-0 rounded-5 text-white col-5 me-3">Post Comment</button>
                    <button type="button" class="grey-button border-0 rounded-5 col-4 me-auto" data-bs-dismiss="modal">Action</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="SET-STATUS px-3 bd-highlight dropdown">
        <button class="grey-button border-0 rounded-5 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Set Status
        </button>
        <ul class="dropdown-menu border-0 rounded-5 shadow-sm mt-1">
            <li style="width:350px" class="border-0 p-3 pb-0">
                <div class="form-check">
                    <label class="form-check-label text-muted fw-bold">
                        <input class="form-check-input " type="radio" name="flexRadioDefault" checked>
                        Open
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label text-warning fw-bold">
                        <input class="form-check-input " type="radio" name="flexRadioDefault">
                        Considering 
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label text-primary fw-bold">
                        <input class="form-check-input " type="radio" name="flexRadioDefault">
                        In Progress
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label  text-success fw-bold">
                        <input class="form-check-input" type="radio" name="flexRadioDefault">
                        Implemented
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label text-danger fw-bold">
                        <input class="form-check-input " type="radio" name="flexRadioDefault">
                        Closed
                    </label>
                </div>
                <div class="modal-body rounded-5 p-0 pt-3">
                    <form>
                        <div class="mb-0">
                            <textarea class="form-control-idea border-0 bg-gray-100" rows="4" placeholder="Add an update comment (optional)"></textarea>
                        </div>
                    </form>
                </div>                
                <div class="d-flex border-0 mb-3 mt-3">
                    <button type="button" class="grey-button border-0 rounded-5 col me-3">Attach</button>
                    <button type="button" class="blue-button border-0 rounded-5 text-white col me-auto" data-bs-dismiss="modal">Update</button>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Notify all voters
                    </label>
                </div>


            </li>
        </ul>
    </div>


    <div class="VOTE-COUNT ms-auto bd-highlight me-3">
        <div class="text-center border-0 bg-white px-2 py-1 rounded-5">
            <div><h6 class="mb-0 fw-bold">12</h6></div>
            <div><p class="mb-0 small text-secondary">Votes</p></div>
        </div>
    </div>
    <div class="VOTE-BUTTON bd-highlight dropdown"><button class="grey-button border-0 rounded-5">Vote</button></div>
</div>
<!-- Buttons END -->

<div class="comments-container position-relative">

    <!-- Comments START -->
    <div class="comment-container position-relative row mb-2">
        <div class="col-1">
            <!--left side -->
        </div>
        <div class="col ms-1">
            <div class="card-single mb-3 border-0 rounded-5 shadow-sm">
                <div class="row g-0">
                    <div class="AVATAR-IMAGE col-md-1 ms-2 pt-3 text-center">
                        <img src="https://source.unsplash.com/200x200/?face&crop=face&v3" alt="avatar" class="avatar rounded-3" />
                    </div>

                    <div class="CARD-DETAILS col ms-1">
                        <div class="card-body mb-3">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="d-flex bd-highlight mb-3">
                            <div class="TIMESTAMP ps-3 bd-highlight text-secondary fw-bold">Sam</div>
                            <div class="TIMESTAMP px-3 bd-highlight text-secondary opacity-50">10 hours ago</div>
                            <div class="bd-highlight ms-auto pe-3 dropdown">
                                <button class="status-button border-0 rounded-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                    </svg>
                                </button>
                                <ul class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Mark as Spam</a></li>
                                    <li><a class="dropdown-item" href="#">Delete Post</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments END-->

    <!-- Comments START -->
    <div class="is-admin comment-container position-relative row mb-2">
        <div class="col-1">
            <!--left side -->
        </div>
        <div class="col ms-1">
            <div class="gradient card-single mb-3 border-0 rounded-5 shadow-sm">
                <div class="row g-0">
                    <div class="AVATAR-IMAGE col-md-1 ms-2 pt-3 text-center">
                        <img src="https://source.unsplash.com/200x200/?face&crop=face&v4" alt="avatar" class="avatar rounded-3" />
                        <span class="small text-primary fw-bold p-1 text-uppercase">admin</span>
                    </div>

                    <div class="CARD-DETAILS col ms-1">
                        <div class="card-body mb-3">
                            <h5 class="card-title">Status Changed to "Under Consideration"</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="d-flex bd-highlight mb-3">
                            <div class="TIMESTAMP ps-3 bd-highlight text-primary fw-bold">Andrea</div>
                            <div class="TIMESTAMP px-3 bd-highlight text-secondary opacity-50">10 hours ago</div>
                            <div class="bd-highlight ms-auto pe-3 dropdown">
                                <button class="status-button border-0 rounded-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                    </svg>
                                </button>
                                <ul class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Mark as Spam</a></li>
                                    <li><a class="dropdown-item" href="#">Delete Post</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Comments END-->

    <!-- Comments START -->
    <div class="comment-container position-relative row mb-2">
        <div class="col-1">
            <!--left side -->
        </div>
        <div class="col ms-1">
            <div class="card-single mb-3 border-0 rounded-5 shadow-sm">
                <div class="row g-0">
                    <div class="AVATAR-IMAGE col-md-1 ms-2 pt-3 text-center">
                        <img src="https://source.unsplash.com/200x200/?face&crop=face&v3" alt="avatar" class="avatar rounded-3" />
                    </div>

                    <div class="CARD-DETAILS col ms-1">
                        <div class="card-body mb-3">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="d-flex bd-highlight mb-3">
                            <div class="TIMESTAMP ps-3 bd-highlight text-secondary fw-bold">Sam</div>
                            <div class="TIMESTAMP px-3 bd-highlight text-secondary opacity-50">10 hours ago</div>
                            <div class="bd-highlight ms-auto pe-3 dropdown">
                                <button class="status-button border-0 rounded-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                    </svg>
                                </button>
                                <ul class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Mark as Spam</a></li>
                                    <li><a class="dropdown-item" href="#">Delete Post</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Comments END-->

</div>