<!-- Filters START -->
<div class="row d-flex">
    <div class="CATEGORY col-3">
        <select name="category" class="form-select border-0" aria-label=".form-select-sm example">
            <option selected>Categories</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="FILTER col-3">
        <select name="filter" class="form-select border-0" aria-label=".form-select-sm example">
            <option selected>Filter</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="SEARCH col input-group mb-3">
        <div class="nav-item w-100">
			<form class="position-relative">
				<input class="form-control" type="search" placeholder="Find an idea" aria-label="Search">
				<button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset align-items-center" type="submit">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
				</button>
			</form>
		</div>
        </div>
</div>
<!-- Filters END -->

<!--Index Card START -->
<div class="card mb-3 border-0 rounded-5 shadow-sm">
    <div class="row g-0">
        <div class="VOTE-STATS col-md-2 border-end">
            <div class="card-body text-center">
                <h5 class="card-title">1200</h5>
                <p class="card-text">Votes</p>
                <button class="vote border-0 rounded-5">Vote</button>
            </div>
        </div>
            <div class="AVATAR-IMAGE col-1 p-3">
                <img src="https://source.unsplash.com/200x200/?face&crop=face&v1" alt="avatar" class="avatar rounded-3" />
            </div>
            <div class="CARD-DETAILS col-md-9">
                <div class="card-body mb-3">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>                    
                </div>
                <div class="d-flex bd-highlight mb-3">
                  <div class="TIMESTAMP px-3 bd-highlight text-secondary opacity-50">10 hours ago</div>
                  <div class="CATEGORY-NAME px-3 bd-highlight text-secondary opacity-50">Category 1</div>
                  <div class="COMMENT-COUNT bd-highlight text-dark">3 Comments</div>
                  <div class="TICKET-STATUS ms-auto bd-highlight pe-2"><button class="open border-0 rounded-5">Open</button></div>
                    <div class="bd-highlight pe-5 dropdown">
                      <button class="dots border-0 rounded-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                      </button>
                      <ul class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Mark as Spam</a></li>
                        <li><a class="dropdown-item" href="#">Delete Post</a></li>
                      </ul>
                    </div>
                </div> 
            </div>
    </div>
</div>
<!-- Index Card END -->