@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    
}
<div class="col">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form id="account" method="post">
                        <div class="card-body p-5 pb-4 text-center">
                            <div class="mb-5">
                                <span class="navbar-brand logo-text text-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767L7.022 1.566z"/>
                                </svg>
                                <span class="text-black-50">UP</span>VOTE</span>
                            </div>
                            <h4 class="mb-5 text-secondary text-uppercase">Sign in</h4>
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.Email" class="form-control bg-light" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <input asp-for="Input.Password" class="form-control bg-light" autocomplete="current-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-start mb-4 me-3 d-none">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>


                                <button id="login-submit" type="submit" class="w-100 btn btn-lg text-white btn-info rounded-5">Log in</button>




                            <div class="text-start mt-3">

                                <h5>Log in with any of the following demo users.</h5>

                                <div style="margin-bottom:20px; margin-top:20px">
                                    <div><span class="text-danger">username: admin@example.com</span></div>
                                    <div><span class="text-danger">password: Admin123!</span></div>
                                </div>

                                <div style="margin-bottom:20px; margin-top:20px">
                                    <div><span>username: user1@example.com</span></div>
                                    <div><span>password: Pass123!</span></div>
                                </div>

                                <div style="margin-bottom:20px">
                                    <div><span>username: user2@example.com</span></div>
                                    <div><span>password: Pass123!</span></div>
                                </div>

                                <div style="margin-bottom:20px">
                                    <div><span>username: user3@example.com</span></div>
                                    <div><span>password: Pass123!</span></div>
                                </div>

                            </div>











                            <div class="text-start mt-3 d-none">
                                <p><a class="text-decoration-none" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                                <p><a class="text-decoration-none" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                                <p style="display:none">
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
