@using Microsoft.AspNetCore.Identity;
@using VotingApp.Data;
@model VotingApp.Models.Idea
@inject UserManager<Member> _userManager;
@inject SignInManager<Member> _signInManager;
@inject ApplicationDbContext _context;

@{
    ViewData["Title"] = "Create";

    var category = _context.Category.ToList();

}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create" asp-controller="Ideas">
            <input type="hidden" name="MemberId" value="@_userManager.GetUserId(User)"
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="text-secondary mb-2 ps-2"></label>
                <input asp-for="Title" class="form-control mb-3" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Category" class="text-secondary mb-2 ps-2"></label>

                <select name="CategoryId" class="form-select border-1 border-warning text-secondary" aria-label=".form-select-sm example" required>
                    <option selected disabled value="">Choose a Category</option>
                    @{
                        //display list of categories
                        foreach (var catName in category)
                        {
                            <option value="@catName.Id">@catName.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="text-secondary mb-2 ps-2"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
